<%= render partial: 'users/sessions/usernavbar' %>

<div id="header-logo"> <%= image_tag "creative/header/PCCLogoSmall.png" %> </div>

<div class="login-form">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, :placeholder => 'email', autofocus: true %>
    </div>

    <div class="field">
      <%= f.password_field :password, :placeholder => 'password', autocomplete: "off" %>
    </div>

    <!-- <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%> -->

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

</div>
<br>
<%= render "devise/shared/links" %>
